.primary-bg {
  background: #000100 !important;
  color: #F8F8F8;
}
.primary-bg a {
  color: #F8F8F8;
  text-decoration: none !important;
}
.primary-bg a:hover,
.primary-bg a:active,
.primary-bg a:focus {
  color: #ffffff;
  text-decoration: none !important;
}
.secondary-bg {
  background: #A1A6B4 !important;
  color: #000100;
}
.secondary-bg a {
  color: #000100;
  text-decoration: none !important;
}
.secondary-bg a:hover,
.secondary-bg a:active,
.secondary-bg a:focus {
  color: #001000;
  text-decoration: none !important;
}
.action-bg {
  background: #B4D2E7 !important;
  color: #000100;
}
.action-bg a {
  color: #000100;
  text-decoration: none !important;
}
.action-bg a:hover,
.action-bg a:active,
.action-bg a:focus {
  color: #001000;
  text-decoration: none !important;
}
.success-bg {
  background: #94C5CC !important;
  color: #000100;
}
.success-bg a {
  color: #000100;
  text-decoration: none !important;
}
.success-bg a:hover,
.success-bg a:active,
.success-bg a:focus {
  color: #001000;
  text-decoration: none !important;
}
.neutral-bg {
  background: #F8F8F8 !important;
  color: #000100;
}
.neutral-bg a {
  color: #000100;
  text-decoration: none !important;
}
.neutral-bg a:hover,
.neutral-bg a:active,
.neutral-bg a:focus {
  color: #001000;
  text-decoration: none !important;
}
body {
  height: 100%;
  padding-top: 50px;
  color: #000100;
}
body .wrapper {
  height: 100%;
}
body [v-cloak] {
  display: none;
}
body .modal-content {
  color: #000100;
}
body .modal-content a {
  color: #000100;
}
body .modal-content a:hover,
body .modal-content a.focus {
  color: #001b00;
}
#trainingContainer {
  height: 100%;
  width: 100%;
  position: absolute;
}
#trainingContainer .full-height {
  height: 100%;
}
#trainingContainer .content {
  padding: 21px 0;
}
#trainingContainer .content .component-list {
  padding: 0px !important;
  margin-left: -15px;
  margin-right: -15px;
}
#trainingContainer .content .component-list li {
  padding: 11px 15px;
}
#trainingContainer .content .component-list li:hover,
#trainingContainer .content .component-list li:focus {
  background: #F8F8F8 !important;
  color: #000100;
}
#trainingContainer .content .component-list li:hover a,
#trainingContainer .content .component-list li:focus a {
  color: #000100;
  text-decoration: none !important;
}
#trainingContainer .content .component-list li:hover a:hover,
#trainingContainer .content .component-list li:focus a:hover,
#trainingContainer .content .component-list li:hover a:active,
#trainingContainer .content .component-list li:focus a:active,
#trainingContainer .content .component-list li:hover a:focus,
#trainingContainer .content .component-list li:focus a:focus {
  color: #001000;
  text-decoration: none !important;
}
#trainingContainer .content .component-list li.active {
  background: #F8F8F8 !important;
  color: #000100;
}
#trainingContainer .content .component-list li.active a {
  color: #000100;
  text-decoration: none !important;
}
#trainingContainer .content .component-list li.active a:hover,
#trainingContainer .content .component-list li.active a:active,
#trainingContainer .content .component-list li.active a:focus {
  color: #001000;
  text-decoration: none !important;
}
#trainingContainer .content .tabular-list,
#trainingContainer .content .accordion-list {
  padding: 11px 0;
}
#trainingContainer .content h4 .action {
  float: right;
}
#trainingMainBar {
  background: #000100 !important;
  color: #F8F8F8;
  border: none !important;
  border-radius: none !important;
}
#trainingMainBar a {
  color: #F8F8F8;
  text-decoration: none !important;
}
#trainingMainBar a:hover,
#trainingMainBar a:active,
#trainingMainBar a:focus {
  color: #ffffff;
  text-decoration: none !important;
}
#trainingMainBar .content {
  padding: 21px 0;
}
#trainingMainBar .content .list-inline li {
  padding: 0 21px;
}
.chat-interface {
  height: 100%;
  position: fixed;
  width: 34%;
  bottom: 0;
  right: 0;
  background: #F8F8F8 !important;
  color: #000100;
  border: 1px solid #bdc1cb;
}
.chat-interface a {
  color: #000100;
  text-decoration: none !important;
}
.chat-interface a:hover,
.chat-interface a:active,
.chat-interface a:focus {
  color: #001000;
  text-decoration: none !important;
}
.chat-interface .body {
  height: 75%;
  padding: 21px;
  color: #000100 !important;
}
.chat-interface .body .close-chat {
  padding: 0 0 11px 0;
  color: #000100 !important;
}
.chat-interface .body .close-chat a {
  color: #000100 !important;
}
.chat-interface .body .close-chat a:hover,
.chat-interface .body .close-chat a:focus {
  color: #000100 !important;
}
.chat-interface .body .response {
  height: 90%;
  overflow: scroll;
}
.chat-interface .action {
  height: 25%;
}
.chat-interface .action .send-text {
  bottom: 0;
  position: absolute;
}
.chat-interface .action .send-action {
  padding: 21px;
}
.chat-interface .divider {
  border-top: 1px solid #bdc1cb;
}
